RUST_LOG=info

A402_PARENT_INGRESS_LISTEN=0.0.0.0:443
A402_PARENT_INTERCONNECT_MODE=vsock
A402_ENCLAVE_CID=16
A402_ENCLAVE_INGRESS_PORT=5000
A402_ENCLAVE_EGRESS_PORT=5001
A402_ENCLAVE_KMS_PORT=5002
A402_ENCLAVE_SNAPSHOT_PORT=5003

A402_SNAPSHOT_DIR=/var/lib/a402/snapshots
A402_KMS_REGION=us-east-1
